[Unit]
Description=Cleanup swapfile after hibernate resume
ConditionPathExists=/swapfile/hibernate
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/remove_swapfile_to_hibernate

[Install]
WantedBy=multi-user.target
